apiVersion: 1

datasources:
{% for org in grafana_orgs | default([{'name': 'Main Org', 'id': 1}]) %}
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: {{ org.id }}
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: 15s

  - name: Loki
    type: loki
    access: proxy
    orgId: {{ org.id }}
    url: http://loki:3100
    editable: true
    jsonData:
      maxLines: 1000

{% endfor %}
